.post-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #282828;
    border: 5px solid #333333;
    box-shadow: 0px 0px 100px rgb(0 0 0 / 15%);
    color: #ffffff;
}

h1 {
    text-align: left;
    padding-left: 5px;
}

.comments {
    list-style: none;
    padding: 0;
}

.comment-item {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #383838;
    color: #666;
}

.comment-item p {
    font-size: 14px;
    color: #ffffff;
}

.page-number {
    background-color: #383838;
    color: #ffffff;
    border: 2px solid #383838;
    padding: 5px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #383838;
    margin-top: 20px;
}

.yellow-slash {
    color: #ffcc00;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: darkred;
}

.edit-button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 8px;
}
.edit-button:hover {
    background-color: #e6b800;
}

@media (max-width: 768px) {
    .post-page {
        padding: 10px;
    }

    .comment-item {
        padding: 5px;
    }
}