.user-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #282828;
    border: 5px solid #333333;
    box-shadow: 0px 0px 100px rgb(0 0 0 / 15%);
    color: white;
}

h1 {
    text-align: left;
    padding-left: 5px;
}

.user-info {
    list-style: none;
    padding: 0;
}

.user-info p {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #383838;
    color: #666;
    font-size: 14px;
}

.status {
    font-weight: bold;
    color: #ffcc00;
}

.update-btn {
    background: #ffcc00;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.update-btn:hover {
    opacity: 70%;
}

.user-group {
    display: inline-table;
    padding: 0px 30px 20px;
}

@media (max-width: 768px) {
    .user-page {
        padding: 10px;
    }

    .user-info p {
        padding: 5px;
    }
}